.container {
  display: block;
  height: 54px;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  background-color: var(--white);
}

.container:focus-within {
  border-color: var(--gray-800);
}

.container > input {
  border: 0;
  width: 100%;
  outline: none;
  color: var(--black);
  background-color: inherit;
}

.container > input::placeholder {
  color: var(--gray-600);
}

.hidden {
  display: none;
}

.errorBorder,
.errorBorder:focus {
  border: 1px solid var(--red-700);
}

.errorText {
  color: var(--red-700);
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}
