.tabs {
  min-width: 360px;
  max-width: 450px;
  height: 36px;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  width: 180px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-400);
}

.tab-active {
  color: var(--orange-700);
  border-bottom: 1.5px solid var(--orange-700);
}